@page "/404"
@using AuditDemo.Components.Layout

<PageTitle>Not Found</PageTitle>

<LayoutView Layout="@typeof(MainLayout)">
    <h2>Page Not Found</h2>
    <p>Sorry, there's nothing at this address.</p>
    <a href="/">Go Home</a>
</LayoutView>